body{
    text-align: center;
    margin: 0;
    /*background-image: url("./src/img/auth_bg.png");*/
    background-size: cover;
}

#body_chat{
    background-color: #1eae98;
    /*background-image: url("./src/img/auth_bg.png");*/
}

#body_auth {
    background-color: #d9aec4;
}

#body_reg{
    background-color: #394c61;
}

div{
    text-align: inherit;
    vertical-align: central;
    display: contents;
}

#root{
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center;
    display: table;
    margin: 0;
}

.logo_container {
    background: linear-gradient(#5d2b5e, #b14670);
    height: 40px;
    position: relative;
    display: table-caption;
    margin: 0;
    text-align: left;
}

img {
    height: 45px;
    text-align: left;
}

span {
    margin: 0;
    padding: 0;
    position: absolute;
}

h1 {
    color: #d9aec4;
    position: relative;
    display: initial;
    padding-left: 15px;
    font-family: "Al Nile", sans-serif;
    margin: 0;
}

.form{
    height: 500px;
    width: 900px;
    display: contents;
    text-align: center;
    vertical-align: middle;
}

.form__input {
    color: #d9aec4;
    height: 30px;
    width: 200px;
    margin: 25px auto 0 auto;
    border-radius: 20px;
    border: 2px solid #394c61;
    background-color: #394c61;
    font-family: "Al Nile", sans-serif;
    padding-left: 10px;
    padding-top: 0;
    padding-bottom: 0;

}

.form__btn{
    font-family: "Al Nile", sans-serif;
    font-size: inherit;
    background-color: #b44a72;
    border: 2px solid #d9aec4;
    height: 38px;
    width: 210px;
    margin: 25px auto 0 auto;
    border-radius: 20px;
    color: #d9aec4;
}

.focused {
    border: red;
    background-color: #394c61;
}

.error{
    color: rgba(255, 0, 0, 0.84);
    height: auto;
    width: 200px;
    display: none;
    margin: 0 auto;
    overflow: auto;
    font-family: "Al Nile", sans-serif;
    font-size: small;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
}

/* Contact list */

#contacts {
    border: black 1px;
    float: left;
    width: 120px;
    padding: 20px;
    background-color: aliceblue;
    min-height: calc(100vh - 85px);
    max-height: calc(100vh - 85px);
    /*display: none;*/

}

#contacts .contact .status {
    background-color: #13CF13;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

#contacts .contact .name {
    line-height: 40px;
    vertical-align: super;
}


/* Chat */

#chat {
    float: right;
    width: calc(100% - 160px);
    /*display: none;*/
}


#messages {
    min-height: calc(100vh - 130px);
    max-height: calc(100vh - 130px);
    padding: 20px 20px 0 20px;
    overflow-y: auto;
    background-color: rgba(19,84,255,0);
}

#messages .message {
    margin-bottom: 3px;
}

#messages .message .content {
    min-width: 20px;
    max-width: 250px;
    border-radius: 20px;
    padding: 10px;
    display: table;
}

#messages .message.event .content {
    background-color: #FF7E29;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    font-size: 10px;
    padding: 7px;
}

#messages .message.received {
    left: 0;
    text-align: left;
}

#messages .message.received .content {
    background-color: gainsboro;
    border-radius: 0 20px 20px;
}

#messages .message.received .sender {
    color: dimgrey;
    font-size: 10px;
}

#messages .message.sent {
    right: 0;
    text-align: right;
}

#messages .message.sent .content {
    background-color: #ff69b4;
    margin-left: auto;
    margin-right: 0;
    color: #fff;
    text-align: right;
    border-radius: 20px 0 20px 20px;
}

#messages .message.sent .sender {
    color: #ff1493;
    font-size: 10px;
}

#chat-controls {
    height: 40px;
    padding: 20px 20px 0 20px;
}

#chat-controls button {
    float: right;
}

#chat-controls input[type="text"] {
    width: calc(75%);
}

#messages .message.sent.same-sender-previous-message .sender,
#messages .message.received.same-sender-previous-message .sender {
    display: none;
}

#messages .message:not(.same-sender-previous-message) {
    margin-top: 10px;
}